<section class="vh-100" style="background-color: #eee;">
    <div class="container py-5 h-100">

        <ul>
            <li>Symbol: {{dataOC?.filtered.data[0].PE.underlying}}</li>
            <li>Current Price: {{dataOC?.records.underlyingValue}}</li>
            <li>last retrived time: {{dataOC?.records.timestamp | date:'MM/dd/yy h:mm:ss a'}}</li>
            <li>Current time: {{datestampNow | date:'MM/dd/yy h:mm:ss a'}}</li>
        </ul>

        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col col-lg-9 col-xl-7">
                <div class="card rounded-3">
                    <div class="card-body p-4">

                        <h4 class="text-center my-3 pb-3">To Do App</h4>

                        <form class="row row-cols-lg-auto g-3 justify-content-center align-items-center mb-4 pb-2"
                            #heroForm="ngForm">

                            <div class="col-sm-2">
                                <div class="form-outline">
                                    <input type="number" [(ngModel)]="saveOption.Strike" id="form1" name="rst"
                                        class="form-control" placeholder="Strike value" />
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <div class="form-outline">
                                    <input type="number" [(ngModel)]="saveOption.Quantity" id="form1" name="rst2"
                                        class="form-control" placeholder="Quantity" />
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <div class="form-outline">
                                    <input type="number" [(ngModel)]="saveOption.Entered" id="form1" name="rst3"
                                        class="form-control" placeholder="Entered" />
                                </div>
                            </div>
                            <div class="col-12 btn-group">
                                <input type="radio" class="btn-check" (click)="toggleCEPE('CE')" name="options-outlined"
                                    id="success-outlined" autocomplete="off">
                                <label class="btn btn-outline-success" for="success-outlined">CE</label>
                            </div>

                            <div class="col-12 btn-group">
                                <input type="radio" class="btn-check" (click)="toggleCEPE('PE')" name="options-outlined"
                                    id="danger-outlined" autocomplete="off">
                                <label class="btn btn-outline-danger" for="danger-outlined">PE</label>
                            </div>

                            <div class="col-12 btn-group">
                                <input type="radio" class="btn-check" (click)="toggleBUYSELL('BUY')"
                                    name="options-order" id="success-order" autocomplete="off">
                                <label class="btn btn-outline-success" for="success-order">BUY</label>
                            </div>

                            <div class="col-12 btn-group">
                                <input type="radio" class="btn-check" (click)="toggleBUYSELL('SELL')"
                                    name="options-order" id="danger-order" autocomplete="off">
                                <label class="btn btn-outline-danger" for="danger-order">SELL</label>
                            </div>


                            <!-- <div class="col-12 btn-group">
                                <button type="button" class="btn btn-success dropdown-toggle" (click)="toggleCallsDD()"
                                    data-toggle="dropdown">17800 Call</button>
                                <div class="dropdown-menu" [ngClass]="{'show': showCallsDD }">
                                    <a class="dropdown-item" (click)="selectedCall()" href="#">17800 Call</a>
                                    <a class="dropdown-item" href="#">Another action</a>
                                </div>
                            </div> -->

                            <div class="col-12">
                                <button type="submit" (click)="add()" class="btn btn-primary">Add</button>
                            </div>
                            <div class="col-12">
                                <button type="submit" (click)="clear()" class="btn btn-primary">Clear</button>
                            </div>
                            <!-- <div class="col-12">
                                <button type="submit" class="btn btn-warning">Get tasks</button>
                            </div> -->
                        </form>

                        <table class="table mb-4">
                            <thead>
                                <tr>
                                    <th scope="col">No.</th>
                                    <th scope="col">Option</th>
                                    <th scope="col">Lots</th>
                                    <th scope="col">Enterd</th>
                                    <th scope="col">Current</th>
                                    <th scope="col">Profit/loss</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr
                                    *ngFor="let myOption of (myOptions | optionsPipe: dataOC: defaultExpDate); let i = index">
                                    <th scope="row">{{i}}</th>
                                    <td>{{myOption.Strike}} {{myOption.CE?'CE':'PE'}}</td>
                                    <td *ngIf="myOption.SELL" style="color:red;">-{{ (myOption.Quantity??0)}}</td>
                                    <td *ngIf="myOption.BUY" style="color:green;">{{ (myOption.Quantity??0)}}</td>
                                    <td>{{myOption.Entered}}</td>
                                    <td>{{myOption.CurrentPrice}}</td>
                                    <td [ngStyle]="{'color': ((myOption.CurrentValue??0) <= 0) ? 'red':'green'}">
                                        <b>{{myOption.CurrentValue | currency:'INR'}}</b>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row"></th>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td><b>Total</b></td>
                                    <td [ngStyle]="{'color': (getTotal(myOptions) <= 0) ? 'red':'green'}">
                                        <b>{{ getTotal(myOptions) | currency:'INR'}}</b>
                                    </td>                                 
                                </tr>
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>